{% extends "shared/base.html" %}

{% block title %}About us{% endblock %}

{% block content %}
<h1 class="font-weight-bold">About us</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, totam iure numquam quaerat amet, officiis
    accusantium dolor assumenda dolores esse dignissimos voluptatem. Commodi laborum non minima dolor illum
    reiciendis est.Temporibus delectus quam odit voluptatibus debitis nesciunt optio voluptates ut inventore porro
    perferendis, quidem magnam repellat quo ratione, quos quod? Nesciunt, in quidem. Necessitatibus sapiente ad iure
    impedit quod cumque?
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, totam iure numquam quaerat amet, officiis
    accusantium dolor assumenda dolores esse dignissimos voluptatem. Commodi laborum non minima dolor illum
    reiciendis est.Temporibus delectus quam odit voluptatibus debitis nesciunt optio voluptates ut inventore porro
    perferendis, quidem magnam repellat quo ratione, quos quod? Nesciunt, in quidem. Necessitatibus sapiente ad iure
    impedit quod cumque?
</p>
{% endblock %}